@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&family=Kalam:wght@700&family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}


.main-page {
    height: 100vh;
    background-color: rgb(16, 16, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.main-page div {
    text-align: center;
    width: 100%;
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15vw;
    margin: -50px;
    flex: 1;
    opacity: .5;
    
}

.main-page .name-1 {
    color: transparent; 
    -webkit-text-stroke: 5px rgb(54, 54, 54); 
    text-stroke: 5px white; 
    -webkit-background-clip: text;
    background-clip: text; 
    opacity: 1;
}
.main-page .name-3 {
    color: transparent; 
    -webkit-text-stroke: 5px rgb(54, 54, 54); 
    text-stroke: 5px white; 
    -webkit-background-clip: text;
    background-clip: text; 
    opacity: 1;
}

.main-page-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(236, 235, 233);
    height: 500px;
    width: 1000px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.main-page-content .hello {
    font-size: 1.5rem;
}
.main-page-content .name {
    font-size: 2.5rem;
}
.main-page-content .webdev {
    font-size: 1.5rem;
    color: rgb(95, 132, 252);
}

.main-page-content p {
    width: 550px;
}

.CV-button {
    margin-top: 20px;
    padding: 10px 1px;
    width: 150px;
    cursor: pointer;
}

.container-img {
    height: 100%;
    overflow: hidden;

}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    height: 100%;
    width: 5rem;
    padding: 15px 0;
    background-color: rgb(236, 235, 233);
    z-index: 1;
    transition: 200ms ease;
}

.contact {
    margin-top: auto;
    cursor: pointer;
    filter: grayscale(100%) opacity(0.7);
    cursor: pointer;
}
.contact:hover {
    filter: grayscale(0%) opacity(1);
}

.logo {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    opacity: 0.8;
}

.nav-list {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    list-style: none;
}


.nav-list li{
    display: flex;
    align-items: center;
    padding-left: 23px;
    height: 5rem;
    filter: grayscale(100%) opacity(0.7);
    cursor: pointer;
}

.nav-list li:hover{
    filter: grayscale(0%) opacity(1);
    background-color: rgb(216, 214, 214);
}

.nav-list li span{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
    display: none;
}

.nav-list a {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.navbar:hover {
    width: 10rem;
}

.navbar:hover span{
    display: block;
}


/* ABOUT CSS */

.about-container {
    padding: 6rem 20%;
    min-height: 100vh;
    background-color: rgb(32, 32, 43)
}

.about-container h1 {
    text-align: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
}

.about-container h1 span{
    color: rgb(95, 132, 252);
}

.about-content {
    margin-top: 50px;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-family: 'Poppins', sans-serif;
    color: rgb(202, 199, 199);
}

.about-content .first {
    font-weight: 550;
    font-size: 1.3rem;
}

.linkIn {
    font-size: 15px;
    background: transparent;
    padding: 15px 30px;
    margin-top: 50px;
    border: 1px solid rgb(202, 199, 199);
    color: rgb(202, 199, 199);
    cursor: pointer;
}

.linkIn:hover {
    border: 1px solid rgb(202, 199, 199);
    color: rgb(202, 199, 199);
    background-color: rgb(50, 50, 63);
}

/* SKILLS CSS */

.skills-container {
    min-height: 100vh;
    padding: 6rem 20%;
    background-color: rgb(16, 16, 20);

}

.skills-container h1{
    text-align: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
}

.skills-container .skill-info {
    margin-top: 50px;
    font-family: 'Poppins';
    color: rgb(202, 199, 199);
    text-indent: 3rem;
}

.grid-container {
    margin-top: 50px;
    width: 100%;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.grid-container .box {
    height: 250px;
    width: 100%;
    background-color: rgb(247, 232, 232);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5%;
    font-family: 'Poppins';
    text-align: center;
}

.box img {
    height: 70px;
}

/* PROJECT CSS */

.project-container {
    
    min-height: 100vh;
    padding: 6rem 20%;
    background-color: rgb(32, 32, 43)
}

.project-container h1 {
    text-align: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
}

.project-info {
    margin-top: 50px;
    font-family: 'Poppins';
    color: rgb(202, 199, 199);
    text-indent: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card {
    width: 670px;
    border-radius: 10px;
    background-color: rgb(48, 48, 56);
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: rgb(48, 48, 56);
    padding: 40px 40px;
    border-radius: 10px;
}

.slide-content {
    margin: 0 40px;

}

.card-image {
    position: relative;
    padding: 3px;
    
}

.card-img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.image-content, .card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card-content .name {
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
}

.description {
    font-size: 18px;
    color: #e0dcdc;
    text-align: center;
}

.card-content .button {
    border: none;
    font-size: 14px;
    color: #fff;
    padding: 6px 24px;
    border-radius: 5px;
    background-color: #0051ff;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.button:hover {
    background-color: #3b77fa;
}

.swiper-navBtn {
    color: #fffefe;
}

.swiper-navBtn:hover {
    color: #7e7d7d;
}
